@font-face {
		font-family: myFirstFont;
		src: url("<?php echo base_url();?>assets/font/28_Days_Later.ttf");
	}

.navbar_css{
	width: 100%;

}
.signin_div{
	
	margin-top: -45%;
}
.signin_title{
	font-family: "myFirstFont";
	text-align: center;
	
}
.form_CSS{
	width: 50% !important;
}
.bottom_footer{
	
	bottom: 0;

}
.foget_hover{
	color: black;

}
.foget_hover:hover{
	color: red;
}

